<div class="f1-steps">
    <div class="f1-progress">
        <div class="f1-progress-line" data-now-value="25" data-number-of-steps="4" style="width: 25%;"></div>
    </div>
    <div class="f1-step active step1 ">
        <div class="f1-step-icon"><i class="fa fa-android "></i></div> @*fa-upload*@
        <p>Upload APK</p>
    </div>
    <div class="f1-step step2">
        <div class="f1-step-icon"><i class="fa fa-search"></i></div>
        <p>About Your App</p>
    </div>
    <div class="f1-step step3">
        <div class="f1-step-icon"><i class="fa fa-th-list"></i></div>
        <p>Review Validation Plan</p>
    </div>
    <div class="f1-step step4">
        <div class="f1-step-icon"><i class="fa fa-bar-chart"></i></div>
        <p>Results</p>
    </div>
</div>
