@{
    ViewBag.Title = "About UMERIX";
}
<h2>@ViewBag.Title.</h2>
<h3>UMETRIX - Usability Evaluation Framework for Mobile Apps based on Usability Code Pattern Analysis</h3>

<p>There has been a prompt growth in mobile app usage over a past decade. With a release of the variety of portable smart mobile devices into the market, mobile apps are playing a noticeable role by replacing traditional web-based applications. Today, usability has been one of the primary factors for end users to chose and adopt a mobile app over a web application on mobile devices. Usability has greatly been considered as one of the signicant quality attributes to determine the success of a mobile app. However, the quantitative metrics to measure the usability of mobile apps are very limited. In most cases, mobile apps fail due to usability issues, this causes end-users to stop using a mobile app as it does not meet their satisfaction level. We propose a usability evaluation framework called UMETRIX to identify usability issues specic to mobile apps. This framework uses usability guidelines associated with usability code patterns in mobile apps to improve usability. We have built a prototype based on our framework to validate and verify usability issues in mobile apps and generate recommendations to address them.</p>
