@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title</h3>
<h4> Software Engineering Research Center</h4>

<address>
   <br />
    International Institute of Information Technology <br />
    Gachibowli, Hyderabad 500 032<br />
    Telangana, INDIA<br />
    
    
</address>

@*<address>
    <strong>Sai Anirudh:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@