
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Progress")

<script type="text/javascript">

    $(".step1").removeClass("active");
    $(".step1").addClass("activated");

    $(".step2").addClass("activated");

    $(".step3").addClass("activated");

    $(".step4").addClass("active");

    $(".f1-progress-line").css("width", "100%");

    function toggelDetailedResults(id) {
        var x = document.getElementById(id);
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }


</script>


<h3>Step 4: Usability Results</h3>


@Html.Raw(ViewBag.Results)

@*<p>
    <span style='font-size: 11pt;'><span style='color: #008080;'><strong>Guideline# 1:  </strong></span>Do not ask for too many inputs from user</span><br />
    <span style='font-size: 9pt;'><span style='color: #008080;'><strong>Usability Category:</strong></span> Categories</span><br />
    <span style='color: #808080; font-size: 9pt;'>Do not ask for too many inputs from user</span><br /><br /><span style='color: #ff0000;'><strong>2</strong> Failed Matches</span> | <span style='color: #339966;'>65 Success Matches</span> | Success Rate 97.01 % |
    <span style='text-decoration: underline;'><span style='color: #0000ff; text-decoration: underline;'><a href='#' onclick='toggelDetailedResults("detailedResults1")'>View Results</a></span></span>
    <div id='detailedResults1' style='display:none;'>
        <ul><li> <span style='color: #ff0000; font-size: 11pt;'> Failed : \content_main.xml contains more than 2 text boxes </span> </li><li> <span style='color: #ff0000; font-size: 11pt;'> Failed : \sign_up.xml contains more than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_bar_title_item.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_bar_up_container.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_bar_view_list_nav_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_menu_item_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_menu_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_mode_bar.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_action_mode_close_item_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_activity_chooser_view.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_activity_chooser_view_list_item.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_alert_dialog_button_bar_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_alert_dialog_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_dialog_title_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_expanded_menu_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_list_menu_item_checkbox.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_list_menu_item_icon.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_list_menu_item_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_list_menu_item_radio.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_popup_menu_header_item_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_popup_menu_item_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_screen_content_include.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_screen_simple.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_screen_simple_overlay_action_mode.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_screen_toolbar.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_search_dropdown_item_icons_2line.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_search_view.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \abc_select_dialog_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \activity_main.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \activity_main2.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \app_bar_main2.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \com_facebook_activity_layout.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \com_facebook_login_fragment.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \com_facebook_tooltip_bubble.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \content_main2.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_bottom_sheet_dialog.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_layout_snackbar.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_layout_snackbar_include.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_layout_tab_icon.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_layout_tab_text.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_menu_item_action_area.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_item.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_item_header.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_item_separator.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_item_subheader.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_menu.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_navigation_menu_item.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \design_text_input_password_icon.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_blue_large.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_blue_round.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_blue_small.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_white_large.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_white_round.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \messenger_button_send_white_small.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \nav_header_main2.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_media_action.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_media_cancel_action.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_big_media.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_big_media_narrow.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_lines.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_media.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_part_chronometer.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \notification_template_part_time.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \select_dialog_item_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \select_dialog_multichoice_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \select_dialog_singlechoice_material.xml contains less than 2 text boxes </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : \support_simple_spinner_dropdown_item.xml contains less than 2 text boxes </span> </li></ul>
    </div>
</p>

<hr /><p>
    <span style='font-size: 11pt;'><span style='color: #008080;'><strong>Guideline# 2:  </strong></span>Password field should have show/hide option</span><br />
    <span style='font-size: 9pt;'><span style='color: #008080;'><strong>Usability Category:</strong></span> Categories</span><br />
    <span style='color: #808080; font-size: 9pt;'>Password field should have show/hide option</span><br /><br /><span style='color: #ff0000;'><strong>0</strong> Failed Matches</span> | <span style='color: #339966;'>1 Success Matches</span> | Success Rate 100 % |
    <span style='text-decoration: underline;'><span style='color: #0000ff; text-decoration: underline;'><a href='#' onclick='toggelDetailedResults("detailedResults2")'>View Results</a></span></span>
    <div id='detailedResults2' style='display:none;'>
        <ul><li> <span style='color: #339966; font-size: 11pt;'>Passed :  User is able to show/hide passwords </span> </li></ul>
    </div>
</p>

<hr /><p>
    <span style='font-size: 11pt;'><span style='color: #008080;'><strong>Guideline# 3:  </strong></span>First-time user has multiple sign-up options (e.g.,username / password and social sign-up  facebook.com, google, twitter)</span><br />
    <span style='font-size: 9pt;'><span style='color: #008080;'><strong>Usability Category:</strong></span> Categories</span><br />
    <span style='color: #808080; font-size: 9pt;'>Users should be presented with multiple sign-up options, such as username / email and password, and social sign-up. Because, while some users may prefer the faster approach of social sign-up (e.g. via G+, Facebook or Twitter), others may prefer to keep their different social profiles separate, and others again may not even be consumers of social networks.</span><br /><br /><span style='color: #ff0000;'><strong>0</strong> Failed Matches</span> | <span style='color: #339966;'>3 Success Matches</span> | Success Rate 100 % |
    <span style='text-decoration: underline;'><span style='color: #0000ff; text-decoration: underline;'><a href='#' onclick='toggelDetailedResults("detailedResults3")'>View Results</a></span></span>
    <div id='detailedResults3' style='display:none;'>
        <ul><li> <span style='color: #339966; font-size: 11pt;'>Passed : Facebook button present </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : Google Sign In button present </span> </li><li> <span style='color: #339966; font-size: 11pt;'>Passed : Twitter button present </span> </li></ul>
    </div>
</p>*@

